.divbirthday{
    padding: 20px;
    width:auto;
    background-color:gainsboro;
    height: 100%;
  }
    .birthday{
      padding:20px;
      background-color: white;
      border-radius: 20px;
      width:auto;
    }
    .birthday h3{
      color:blue;
      
    }
    .birthday p{
      padding: 5px;
      text-align:left;
    }