.content{
    background-color: hsl(33, 62%, 90%);
    padding: 5px;
    padding-left: 15px;
    border-radius: 5px;
    width: 100%;
}
.heading {
    padding: 0px;
    width: 100%;
}

.div_bar {
    display: flex;
}
.employee-table,.workanniversary {
    max-width: 250px;
    margin: 10px 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .employee-table table,.workanniversary table {
    width: 250px;
    border-collapse: collapse;
  }
  
  .employee-table th, .employee-table td,.workanniversary th,.workanniversary td {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 12px;
  }
  
.employee-table th,.workanniversary th {
    background-color: #f0f0f0;
}
  
.employee-table td,.workanniversary td {
    text-align: center;
}
.employee-table tr:hover,.workanniversary tr:hover {
    background-color: #f2f2f2;
}