.main-ticket{
    width:auto;
    background-color: #eae4e4;
}
h3{
    font: sans-serif;
    color:#071437;
    margin-top: 10px;
    margin-right: 15px;
}
.mticket{
    background-color: white;
    width:auto;
    padding: 1px;
    border-radius: 10px;
    border-color: red;
    
}
.labels{
    margin-top: 15px;
    margin-left: 20px;
    background-Color:#1B84FF12;
    width: 200px;
}

input::placeholder{
    font:  sans-serif;
    font-size: 15px;
    text-align:left;
    margin-top:5px;
}
.button{
    background-color:#1B84FF12;
    font: sans-serif;
    height:40px;
    margin-left: 350px;
    width:120px;
    border-radius: 10px;
    color: #1B84FF;
    margin-top: 15px;

}
.button1{
    background-color:#1B84FF;
    font:sans-serif;
    height: 40px;
    margin-left: 19px;
    border-radius: 10px;
    color:white;
    width: 170px;
    margin-top: 15px;
}
.flexdiv {
    display: flex;
}
.case-table{
    border-collapse: collapse;
    margin-left: 30px;
    margin-top:40px;
    height: 50px;
    width:910px;
    font: sans-serif;
    font-size: 14px;
    text-align: center;
}
.case-table th td tr{
    border: 1px solid black;
    border-collapse: collapse;
}

.case-table th{
    background-color:#D1E6FF;
    border:1px solid;
    font: "sans-serif"; 
}